<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="mt-3 text-muted">Your products</h3>
    <hr> 
    <table class="table table-borderless table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
          <tr>
            <th scope="row">{{ p.ID }}</th>
            <td>
              <a href="/product?id={{ p.ID }}" class="text-decoration-none text-body"
                > {{ p.name }}</a
              >
            </td>
            <td>
              {{ p.description }}
            </td>
            <td>${{ p.price }}</td>
            <td>{{ p.stock }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
        {% if alerts %}
            {% for alert in alerts %}
                <div class="alert alert-{{ alert.context }} border-0 shadow-sm alert-dismissible fade show" role="alert">
                    {{ alert.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
